


<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
  <a routerLink="home">Luna Store</a>
  <button mat-icon-button [matMenuTriggerFor]="menuRef">
    <mat-icon
    [matBadge]="itemsQuantity"
    [matBadgeHidden]="!itemsQuantity"
    matBadgeColor="warn">
      shopping_cart
    </mat-icon>
  </button>
  <mat-menu #menuRef="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ itemsQuantity }} Items</span>
        <a routerLink="cart" id="view_cart">View cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">

        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold">
            {{ item.price | currency }}
          </span>
        </div>

      </div>

      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">{{ getTotal(cart.items) | currency }}</span>
      </div>
      <div class="pt-3 flex justify-between py-3 font-light">
        <button
        (click)="onClearCart()"
        class="bg-rose-500 text-white rounded-full w-8 h-8">
          <mat-icon class="mat-18">remove_shopping_cart</mat-icon>
        </button>
        <button class="bg-green-500 text-white rounded-full w-8 h-8">
          <mat-icon class="mat-18">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
  
</mat-toolbar>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: salmon;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Coding Yaar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="visibility:visible">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://richaparikh15.github.io/ecommerce-angular-app/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item dropend">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li class="nav-item dropend">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<p class="mt-5 text-center">Get a step-by-step written explanation here: <a href="https://codingyaar.com/bootstrap-dropdown-submenu-on-hover" target="_blank">Bootstrap 5 Dropdown Submenu</a> </p>

<p class="mt-5 text-center">Get a step-by-step video explanation here: <a href="https://youtu.be/sqwk7xXBhFk" target="_blank">Bootstrap 5 Dropdown Submenu</a> </p>
